.button {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background: none;

  border-radius: 16px;
  color: var(--primary-white);
  background: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  font: 400 20px 30px inherit; 
  padding: 32px 108px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &:hover {
    background: var(--blue-hover);
    border: 2px solid var(--blue-hover);
  }

  &:disabled {
    opacity: 50%;
  }

  &:active {
    background: var(--blue-pressed);
    border: 2px solid var(--blue-pressed);
  }

  &.full_width {
    width: 100%;
  }

  &.bordered {
    color: var(--primary-blue);
    background: var(--primary-white);

    &:hover {
      color: var(--primary-white);
      background: var(--primary-blue);
    }

    &:disabled {
      opacity: 50%;
    }

    &:active {
      background: var(--blue-pressed);
      border: 2px solid var(--blue-pressed);
    }
  }

  &.small {
    padding: 16px 24px;
    border-radius: 12px;
    font: 400 19px 19px inherit; 
  }
}
