:root {
  --primary-black: #1F2032;
  --primary-gray: #F7F7FA;
  --primary-blue: #312DFF;
  --primary-white: #FFFFFF;
  --additional-gray: #9A9AAD;
  --error: #E8412A;

  --blue-hover: #2926D8;
  --blue-pressed: #090FAE;


  // sizes 
  --xs: 375px,
  --sm: 576px,
  --md: 768px,
  --lg: 992px,
  --xl: 1200px,
  --xxl: 1400px
}
